body{
	background-color:lightpink ;
}
p{
	color: black;
text-shadow: 5px 5px 5px #FF0000;
}
h1{
	color: #8b0000;
	font-size:34px;
}
h2{
	color: greenyellow;
	font-size: 34px;
}
h3{
	color:lightblue ;
	font-size: 34px;
}
body {
 width: 960px;
 margin-left: auto;
 margin-right: auto;
 border-width: 1px;
 border-style: solid;
 border-color: gray;
 border-radius: 5px;
 text-align:center;
}
img {
 width: 960px;
}
h4{
  color: orangered;
  font-size:34px;
}
h5{
	color: #1e90ff;
	font-size: 34px;
}
li{
	color: black;
	text-shadow: 5px 5px 5px #FF0000;
}
h6{
	color: #ffd700;
	font-size: 34px;
}
